body {
  margin: 30px 0px 0px ;
  font-family: Montserrat-Medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1C3664;
  background-color: #FEFAF6;
}

@media (max-width:1280px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

a {
  text-decoration: none;
  color: inherit; 
  border: none; 
  outline: none; 
  background: none; 
  font: inherit; 
  cursor: inherit;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 6px; 
  }


::-webkit-scrollbar-track {
  background: #FEFAF6; 
}


::-webkit-scrollbar-thumb {
  background: #1C3664; 
  border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
  background: #1C3664; 
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('./fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('./fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Montserrat-Regular;
  src: url('./fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: SigmarOne-Regular;
  src: url('./fonts/SigmarOne-Regular.ttf');
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo-block {
  display: flex;
}

.logo-block img {
  height: 50px;
}

.header-items {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  margin: 0 20px;
}

.header-items p {
  margin: 0 15px;
  cursor: pointer;
  font-size: 18px;
}

.header-items p:hover {
  color: #FFA800;
  text-decoration: underline;
}

.join-us {
  background-color: #FFA800;
  color: #040406;
  border-radius: 40px;
  border: none;
  padding: 15px 25px;
  font-family: Montserrat-Bold;
  font-size: 18px;
  cursor: pointer;
  width: 130px;
  height: 55px;
}

.join-us a {
  color: inherit;
  text-decoration: none;
}

.join-us:hover {
  background-color: #FFFFFF;
  color: #1C3664;
  border: 3px solid #FFA800;
}

@media (max-width: 1280px) {
  .header-items {
    display: none;
  }
  .join-us {
    display: none;
  }
  .logo-block {
    width: 500px;
    border: 1px solid red;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0px 0px 0px 300px;
    text-align: center;
  }
  .logo-block img {
    order: 2;
  }

  .logo-block svg {
      order: 1;
  }
}

@media (min-width: 1290px) {
  .logo-block svg {
    display: none;
  }
}

/* Component Main */

@media  (max-width: 1280px){
  .sidebar img {
    display: none;
  }

  .sidebar2 img {
    display: none;
  }
}

.content {
  display: flex;
  justify-content: space-around;
}

.sidebar {
  display: flex;
  align-items: center;
}

.sidebar2 {
  display: flex;
  align-items: end;
}

.main {
  text-align: center;
  max-width: 576px;
  height: 380px;
  margin-top: 100px;
}

.orange {
  color: #FFA800;
  font-family: SigmarOne-Regular;
}

.blue {
  color: #4D80C1;
  font-family: SigmarOne-Regular;
}

.green {
  color: #71B561;
  font-family: SigmarOne-Regular;
}

.red {
  color: #DB5245;
  font-family: SigmarOne-Regular;
}

.join-us-main{
  width: 280px;
  height: 100px;
  background-color: #FFA800;
  color: #040406;
  border-radius: 60.6px;
  text-align: center;
  border: none;
  font-family: Montserrat-Bold;
  font-size: 36.6px;
  margin-top: 50px;
}

.join-us-main:active{
  border: 3px solid #FFA800;
  background-color: #FFFFFF;
}

.join-us-main:hover{
  border: 3px solid #FFA800;
  background-color: #FFFFFF;
  cursor: pointer;
  color: #1C3664;
}

.title{
  font-family: SigmarOne-Regular;
}

.page-title{
  font-family: Montserrat-Regular;
  font-size: 22px;
}

/* About */

@media (max-width: 1280px) {
  .presentation-file {
    display: none;
    border: none;
  }
  .presentation {
    display: none;
    border: none;
  }
  .see-more-page {
    text-align: center;
    margin-top: 40px;
    text-decoration: underline;
  }
}

.h2-about{
  text-align: center;
  font-size: 40px;
  font-family: Montserrat-Regular;
  margin-top: 100px;
}

.page-about{
  max-width: 806px;
  height: 184px;
  text-align: center;
  margin: 0 auto;
  font-size: 25px;
  font-family: Montserrat-Regular;
}

.block-about{
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  width: 80%;
  margin: 100px auto;
}

.presentation-file {
  border-radius: 20px;
  width: 1100px;
  height: 600px;
  border: 10px solid #FFA800;
  display: flex;
  margin: 100px auto;
  border-radius: 30px;
}

/* History */

.team-history {
  display: block;
  margin: 0 auto;
}

.h2-history{
  text-align: center;
  font-size: 40px;
}

.page{
  text-align: center;
  max-width: 877px;
  height: 60px;
  font-size: 25px;
  font-family: Montserrat-Regular;
  margin: 0 auto;
}

.blocks {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 100px auto;
}

.image-container {
  position: relative;
  display: inline-block; 
}

.block1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  align-content: center;
  padding: 20px;
  border-radius: 10px;
}

.block2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  align-content: center;
  padding: 20px;
  border-radius: 10px;
}

.block3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  align-content: center;
  padding: 20px;
  border-radius: 10px;
}

.page-info {
  width: 103px;
  height: 52px;
  margin: 0 auto;
}

.page-history{
  text-align: center;
  max-width: 746px;
  height: 30px;
  font-size: 25px;
  font-family: Montserrat-Regular;
  margin: 40px auto 0px;
}

.page-facebook{
  text-align: center;
  width: 288px;
  height: 30px;
  font-size: 25px;
  font-family: Montserrat-Regular;
  margin: 6px auto 40px;
}

.link-facebook{
  color: #1C3664;
  text-decoration: underline;
  cursor: pointer;
}

.link-facebook:hover {
  color: #FFA800;
  cursor: pointer;
  text-decoration: underline;
}

.block-history{
  border-bottom: 1px solid #FFFFFF;
  width: 80%;
  margin: 100px auto;
}

@media (max-width: 1280px) {
  .blocks {
    display: block;
    text-align: center;
  }
  .team-history {
    display: none
  }
}

/* Program */

.block-program{
  border-bottom: 1px solid #FFFFFF;
  width: 80%;
  margin: 0px auto;
}

.h2-program{
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
}

.page-program {
  margin: 0 auto;
  text-align: center;
  max-width: 829px;
  height: 60px;
  text-align: center;
  font-family: Montserrat-Regular;
  margin: 20px auto;
  font-size: 25px;
}

.learn-more{
  display: flex;
  justify-content: space-around;
}

.program{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 100px;
}

.info-learn-block{
  display: flex;
  justify-content: space-between;
  width: 100px;
  text-align: center;
  align-items: center;
}

.item-block{
  background-color: #FFFFFF;
  border-radius: 20px;
  border: 1px solid #1C3664;
}

.item-block2{
  background-color: #FFFFFF;
  border-radius: 20px;
  border: 1px solid #1C3664;
}

.button-program{
  width: 155px;
  height: 53px;
  border-radius: 12px;
  background-color: #1C3664;
  color: #FFFFFF;
  font-size: 18px;
  border: none;
  font-family: Montserrat-Bold;
  cursor: pointer;
}

.button-program:hover {
  background-color: #FFA800;
}

.title-program{
  color: #1C3664;
  font-size: 30px;
  width: 90%;
  margin: 0 auto;
}

.group-program{
  color: #FFA800;
  width: 60%;
  margin: 0 auto;
}

.time-program{
  color: #1C3664;
}

@media (max-width: 1280px) {
  .program {
    display: block;
    width: 420px;
  }
  .item-block {
    margin-bottom: 20px;
  }
}

/* Gallery  component*/
.slider {
  display: flex;
  justify-content: space-around;
}

.slide {
  overflow: hidden;
  border-radius: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease; 
}

.slide img:hover {
  transform: scale(1.3);
}


.buttons {
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}

.title-gallery {
  font-size: 40px;
  text-align: center;
  font-family: Montserrat-Bold;
}

.page-gallery {
  font-size: 25px;
  text-align: center;
  font-family: Montserrat-Regular;
}

.block-gallery { 
  border-bottom: 1px solid #FFFFFF;
  width: 80%;
  margin: 0px auto;
}

/* FQA Component */

.title-fqa {
  font-size: 40px;
  text-align: center;
  margin: 30px auto;
  color: #1C3664;
}

.block-fqa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 860px;
  border-radius: 20px;
  border: 1px solid #1C3664;
  margin: 20px auto;
  text-align: left;
  cursor: pointer;
  transition: height 0.3s ease; 
  overflow: hidden; 
  background-color: #FFFFFF;
  color: #1C3664;
  position: relative;
}

.block-fqa .fqa-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-fqa h3 {
  margin: 0;
  font-size: 20px;
  flex-grow: 1;
}

.block-fqa p {
  margin: 10px 0 0 0;
  padding-top: 20px;
  border-top: 1px solid #FFA800; 
  color: #fff;
}

.fqa-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.block-fqa.expanded .fqa-button {
  transform: rotate(180deg);
}

.block-main {
  border-bottom: 1px solid #FFFFFF;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .block-fqa {
    width: 330px;
  }
}


/* Team component  */

.team {
  display: flex;
  flex-wrap: wrap; 
  width: 100%;
  justify-content: center;
}

.team-card {
  width: 24%; 
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0px;
}

.name-person {
  width: 160px;
  height: 34px;
}

.job-title{
  width: 130px;
  height: 50px;
}

.title-team {
  margin: 100px auto 50px;
  text-align: center;
  font-size: 40px;
}

.page-team {
  margin: 20px auto;
  text-align: center;
  font-size: 25px;
}

@media (max-width: 1280px) {
  .team {
    display: block;
  }

  .team-card {
    width: 500px;
    margin: 50px auto;
  }
}

/* Supported component */

.title-support {
  margin: 50px auto;
  text-align: center;
}

.support {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  height: auto;
  width: 840px;
  gap: 20px;
}

.support-item {
  width: 246px;
  height: 146px;
  background-color: #FFFFFF;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; 
  border: 1px solid #1C3664;
}

.support-block {
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  width: 80%;
  margin: 0px auto;
}

@media (max-width:1280px) {
  .support {
    display: block;
  }
}

/* Contact component */

.twinschool-form {
  display: flex;
  justify-content: space-around;
}

.title-contact{ 
  text-decoration: underline;
}

.email-company {
  text-decoration: underline;
}

.plane {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  width: 579px;
  justify-content: space-between;
}

.contact{
  text-align: center;
}

.block-first-name {
   width: 275px;
   height: 65px;
   border: 1px solid #1C3664;
   border-radius: 12px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.block-last-name {
  width: 275px;
  height: 65px;
  border: 1px solid #1C3664;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.block-email {
  width: 577.41px;
  margin-top: 20px;
  height: 65px;
  border: 1px solid #1C3664;
  border-radius: 12px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.block-email-info {
  display: flex;
  justify-content: space-between;
  width: 232px;
  padding-left: 23px;
  align-items: center;
}

input:focus {
  outline: none; 
  border-color: #1C3664; 
  box-shadow: none;
}

input {
  border: none;
  background-color: #FEFAF6;
  color: #1C3664;
  outline: none;
  box-shadow: none;
}

input:active {
  border: none;
  background-color: #FEFAF6;
  color: #1C3664;
  outline: none;
  box-shadow: none;
}

input:focus {
  border: none;
  background-color: #FEFAF6;
  color: #1C3664;
  outline: none;
  box-shadow: none;
}

::placeholder {
  color: #1C3664;
}

.describe {
  width: 552px;
  height: 148px;
  background-color: #FEFAF6;
  border: 1px solid #1C3664;
  border-radius: 12px;
  color: #1C3664;
  padding-left: 23px;
  padding-top: 20px;
}

.describe:focus {
  outline: none; 
  border-color: transparent; 
  box-shadow: none;
  border: 1px solid #1C3664;
}

.submit {
  width: 134.65px;
  height: 61.38px;
  border-radius: 13.91px;
  background-color: #1C3664;
  color: #FFFFFF;
  font-size: 20.87px;
  font-family: Montserrat-Bold;
  border: none;
}

.submit:hover {
  background-color: #FFA800;
}

.block-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer-logo {
  text-align: center;
  margin-top: 20px;
}

.block-contact {
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  width: 80%;
  margin: 0px auto;
}

textarea {
  font-family: Montserrat-Regular;
}

.logo-footer{
  cursor: pointer;
}

.input-container {
  position: relative;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
}

input:focus + .placeholder,
input:not(:placeholder-shown) + .placeholder {
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: bold;
  color: #1C3664;
}

.placeholder {
  position: absolute;
  left: 10px;
  top: 10px;
  transition: all 0.2s ease;
  pointer-events: none;
  font-size: 16px;
  color: #1C3664;
}

@media (max-width:1280px) {
  .twinschool-form {
    display: block;
  }
}
