body {
  margin: 30px 0px 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1C3664;
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 6px; 
  }


::-webkit-scrollbar-track {
  background: #f1f1f1; 
}


::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('./fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Montserrat-Regular;
  src: url('./fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: SigmarOne-Regular;
  src: url('./fonts/SigmarOne-Regular.ttf');
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1C3664;
  color: white;
}

.logo-block img {
  height: 50px;
}

.header-items {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  margin: 0 20px;
}

.header-items p {
  margin: 0 15px;
  cursor: pointer;
  font-size: 18px;
}

.header-items p:hover {
  color: #FFA800;
  text-decoration: underline;
}

.join-us {
  background-color: #FFA800;
  color: #040406;
  border-radius: 40px;
  border: none;
  padding: 15px 25px;
  font-family: Montserrat-Bold;
  font-size: 18px;
  cursor: pointer;
}

.join-us a {
  color: inherit;
  text-decoration: none;
}

.join-us:hover {
  background-color: #FFFFFF;
  color: #1C3664;
  border: 3px solid #FFA800;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    ;
    display: block;
    width: 700px;
    margin: 0px 0px 0px 300px;
  }

  .header-items {
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }

  .header-items p {
    margin: 10px auto;
    text-align: center;
    font-size: 36px;
    ;
  }

  .join-us {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
  }
}


/* Component Main */

.content {
  display: flex;
  justify-content: space-around;
}

.sidebar {
  display: flex;
  align-items: center;
}

.sidebar2 {
  display: flex;
  align-items: end;
}

.main {
  text-align: center;
  width: 576px;
  height: 380px;
  margin-top: 100px;
}

.orange {
  color: #FFA800;
  font-family: SigmarOne-Regular;
}

.blue {
  color: #4D80C1;
  font-family: SigmarOne-Regular;
}

.green {
  color: #71B561;
  font-family: SigmarOne-Regular;
}

.red {
  color: #DB5245;
  font-family: SigmarOne-Regular;
}

.join-us-main{
  width: 280px;
  height: 100px;
  background-color: #FFA800;
  color: #040406;
  border-radius: 60.6px;
  text-align: center;
  border: none;
  font-family: Montserrat-Bold;
  font-size: 36.6px;
  margin-top: 50px;
}

.join-us-main:active{
  border: 3px solid #FFA800;
  background-color: #FFFFFF;
}

.join-us-main:hover{
  border: 3px solid #FFA800;
  background-color: #FFFFFF;
  cursor: pointer;
  color: #1C3664;
}

.title{
  font-family: SigmarOne-Regular;
}

.page-title{
  font-family: Montserrat-Regular;
  font-size: 22px;
}

@media (max-width: 768px) {
  .content {
      flex-direction: column;
      align-items: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      ;
      width: 300px;
      margin: 0px 0px 0px 300px;
  }

  .sidebar, .sidebar2 {
      display: none;
  }

  .main {
      width: 230%;
      margin: 100px auto;
  }

  .title {
      font-size: 3rem;
      margin-bottom: 10px;
  }

  .page-title {
      font-size: 1rem;
      margin-bottom: 10px;
  }

  .join-us-main {
      width: 100%;
      text-align: center;
      padding: 10px 0;
  }
}

/* About */

.h2-about{
  text-align: center;
  font-size: 40px;
  font-family: Montserrat-Regular;
  margin-top: 100px;
}

.page-about{
  width: 806px;
  height: 184px;
  text-align: center;
  margin: 0 auto;
  font-size: 25px;
  font-family: Montserrat-Regular;
}

.block-about{
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  width: 80%;
  margin: 100px auto;
}

.presentation{
  width: 1100px;
  height: 600px;
  border: 10px solid #FFFFFF;
  display: flex;
  margin: 100px auto;
  border-radius: 30px;
}

.presentation-file {
  border-radius: 20px;
}

@media (max-width: 768px) {
.presentation {
  width: 270%;
  display: block;
  margin: 60px auto;
  width: 700px;
  margin: 70px 0px 0px 300px;
}
.block-about{
  border-bottom: none;
  border-top:none ;
}
.h2-about {
  display: block;
  width: 270%;
  ;
  margin: 20px auto;
  width: 700px;
  margin: 0px 0px 0px 300px;
}
.page-about{
  width: 270%;
  display: block;
  margin: 0 auto;
  ;
  width: 700px;
  margin: 0px 0px 0px 300px;
}
.block-about {
  width: 330%;
  margin: 0px 50px;
  padding: 0px 0px 70px 0px;
}
}

/* History */

.team {
  display: block;
  margin: 0 auto;
}

.h2-history{
  text-align: center;
  font-size: 40px;
}

.page{
  text-align: center;
  width: 877px;
  height: 60px;
  font-size: 25px;
  font-family: Montserrat-Regular;
  margin: 0 auto;
}

.blocks {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 100px auto;
}

.image-container {
  position: relative;
  display: inline-block; 
}

.block1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  align-content: center;
  padding: 20px;
  border-radius: 10px;
}

.block2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  align-content: center;
  padding: 20px;
  border-radius: 10px;
}

.block3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  align-content: center;
  padding: 20px;
  border-radius: 10px;
}

.page-info {
  width: 103px;
  height: 52px;
  margin: 0 auto;
}

.page-history{
  text-align: center;
  width: 746px;
  height: 30px;
  font-size: 25px;
  font-family: Montserrat-Regular;
  margin: 40px auto 0px;
}

.page-facebook{
  text-align: center;
  width: 288px;
  height: 30px;
  font-size: 25px;
  font-family: Montserrat-Regular;
  margin: 6px auto 40px;
}

.link-facebook{
  color: #FFCA28;
  text-decoration: underline;
  cursor: pointer;
}

.link-facebook:hover {
  color: #FFA800;
  cursor: pointer;
  text-decoration: underline;
}

.block-history{
  border-bottom: 1px solid #FFFFFF;
  width: 80%;
  margin: 100px auto;
}

@media (max-width: 768px) {
.blocks{
  display: block;
}
.block-history {
  border: none;
}
.image-container {
  margin-top: 30px;
  width: 270%;
  ;
  margin: 0px 0px 0px 250px;
}
.h2-history {
  width: 270%;
  margin: 0px 0px 0px 250px;
}
.page {
  width: 270%;
  margin: 30px 0px 0px 250px;
}
.decor {
 margin: 0px 0px 0px 235px;
}
.page-history {
  width: 400px;
}
.page-facebook {
  margin-top: 70px;
}
}
  

/* Program */

.block-program{
  border-bottom: 1px solid #FFFFFF;
  width: 80%;
  margin: 0px auto;
}

.h2-program{
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
}

.page-program {
  margin: 0 auto;
  text-align: center;
  width: 829px;
  height: 60px;
  text-align: center;
  font-family: Montserrat-Regular;
  margin: 20px auto;
  font-size: 25px;
}

.learn-more{
  display: flex;
  justify-content: space-around;
}

.program{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 100px;
}

.info-learn-block{
  display: flex;
  justify-content: space-between;
  width: 100px;
  text-align: center;
  align-items: center;
}

.item-block{
  background-color: #FFFFFF;
  border-radius: 20px;
}

.item-block2{
  background-color: #FFFFFF;
  border-radius: 20px;
}

.button-program{
  width: 155px;
  height: 53px;
  border-radius: 12px;
  background-color: #1C3664;
  color: #FFFFFF;
  font-size: 18px;
  border: none;
  font-family: Montserrat-Bold;
  cursor: pointer;
}

.button-program:hover {
  background-color: #FFA800;
}

.title-program{
  color: #1C3664;
  font-size: 30px;
  width: 90%;
  margin: 0 auto;
}

.group-program{
  color: #FFA800;
  width: 60%;
  margin: 0 auto;
}

.time-program{
  color: #1C3664;
}

@media (max-width: 768px) {
.program {
  display: block;
}  
.block-program {
  border: none;
}
.h2-program {
  width: 400%;
  margin: 0px 0px 0px 75px;
}
.item-block {
  width: 134%;
  margin-left: 500px;
}
.item-block2 {
  width: 134%;
  margin-top: 30px;
  margin-left: 500px;
}
.page-program {
  width: 350%;
  margin: 30px 0px 0px 150px;
}
}

/* Gallery  component*/
.slider {
  display: flex;
  justify-content: space-around;
}

.slide {
  overflow: hidden;
  border-radius: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease; 
}

.slide img:hover {
  transform: scale(1.3);
}


.buttons {
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}

.title-gallery {
  font-size: 40px;
  text-align: center;
  font-family: Montserrat-Bold;
}

.page-gallery {
  font-size: 25px;
  text-align: center;
  font-family: Montserrat-Regular;
}

.block-gallery { 
  border-bottom: 1px solid #FFFFFF;
  width: 80%;
  margin: 0px auto;
}

@media (max-width: 768px) {
  .title-gallery {
    width: 350%;
    margin: 0px 0px 0px 150px;
  }
  .page-gallery {
    width: 350%;
    margin: 30px 0px 60px 150px;
  }
  .block-gallery {
    border: none;
  }
  .slider {
    width: 1000px;
    margin: 20px 0px 0px 170px;
  }
  .buttons {
    margin: 40px 0px 40px 570px;
  }
}
/* FQA Component */

.title-fqa {
  font-size: 40px;
  text-align: center;
  margin: 30px auto;
  color: #fff;
}

.block-fqa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 860px;
  border-radius: 20px;
  border: 1px solid #FFFFFF;
  margin: 20px auto;
  text-align: left;
  cursor: pointer;
  transition: height 0.3s ease; 
  overflow: hidden; 
  background-color: #1C3664;
  color: #fff;
  position: relative;
}

.block-fqa .fqa-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-fqa h3 {
  margin: 0;
  font-size: 20px;
  flex-grow: 1;
}

.block-fqa p {
  margin: 10px 0 0 0;
  padding-top: 20px;
  border-top: 1px solid #FFA800; 
  color: #fff;
}

.fqa-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.block-fqa.expanded .fqa-button {
  transform: rotate(180deg);
}

.block-main {
  border-bottom: 1px solid #FFFFFF;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .title-fqa {
      font-size: 2.5rem;
      width: 600px;
      margin: 0px 0px 0px 400px;
  }

  .block-fqa {
      width: 330%;
      padding: 10px;
      font-size: 30px;
      margin: 40px 0px 0px 150px;
  }
  .block-main {
    border: none;
  }
  .fqa-header h3 {
      font-size: 1.5rem;
  }

  .fqa-button {
      width: 15px;
      height: 15px;
  }
}


/* Team component  */

.team {
  display: flex;
  flex-wrap: wrap; 
  width: 100%;
  justify-content: center;
}

.team-card {
  width: 24%; 
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0px;
}

.name-person {
  width: 160px;
  height: 34px;
}

.job-title{
  width: 130px;
  height: 50px;
}

.title-team {
  margin: 100px auto 50px;
  text-align: center;
  font-size: 40px;
}

.page-team {
  margin: 20px auto;
  text-align: center;
  font-size: 25px;
}

@media (max-width: 767px) {
  .main-team {
      padding: 20px 10px;
  }

  .title-team {
    font-size: 3rem;
    width: 500px;
    margin: 20px 0px 0px 480px;
  }

  .page-team {
    font-size: 3rem;
    margin: 30px 0px 0px 400px;
    width: 700px;
  }

  .team {
      display: block;
  }

  .team-card {
      margin: 100px auto;
      width: 200%;
      font-size: 3rem;
      display: block
  }

  .name-person {
    width: 900px;
    text-align: center;
    margin: 5px 0px 70px 300px;
  }

  .team-card img {
      width: 100%;
      height: auto;
      margin: 0px 0px 0px 350px;
  }
  .info-card svg {
    display: none;
  }
  .job-title {
    width: 700px;
    text-align: center;

    margin: 0px 0px 0px 350px;
  }
  .info-card img {
    display: none;
  }
}

/* Supported component */

.title-support {
  margin: 50px auto;
  text-align: center;
}

.support {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  height: auto;
  width: 840px;
  gap: 20px;
}

.support-item {
  width: 246px;
  height: 146px;
  background-color: #FFFFFF;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; 
  border: 1px solid #FFA800;
}

.support-block {
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  width: 80%;
  margin: 0px auto;
}

@media (max-width: 767px) {
  .support {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 0px 0px 250px;
  }
  .support-block {
    border: none;
  }
  .title-support {
    font-size: 2.5rem;
    width: 300px;
    margin: 0px 0px 40px 550px;
  }
}

/* Contact component */

.twinschool-form {
  display: flex;
  justify-content: space-around;
}

.title-contact{ 
  text-decoration: underline;
}

.email-company {
  text-decoration: underline;
}

.plane {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  width: 579px;
  justify-content: space-between;
}

.contact{
  text-align: center;
}

.block-first-name {
   width: 275px;
   height: 65px;
   border: 1px solid #FFFFFF;
   border-radius: 12px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.block-last-name {
  width: 275px;
  height: 65px;
  border: 1px solid #FFFFFF;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.block-email {
  width: 577.41px;
  margin-top: 20px;
  height: 65px;
  border: 1px solid #FFFFFF;
  border-radius: 12px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.block-email-info {
  display: flex;
  justify-content: space-between;
  width: 232px;
  padding-left: 23px;
  align-items: center;
}

input:focus {
  outline: none; 
  border-color: #1C3664; 
  box-shadow: none;
}

input {
  border: none;
  background-color: #1C3664;
  color: #FFA800;
}

input:active {
  border: none;
  background-color: #1C3664;
  color: #FFA800;
}

input:focus {
  border: none;
  background-color: #1C3664;
  color: #FFA800;
}

::placeholder {
  color: #f1f1f1;
}

.describe {
  width: 552px;
  height: 148px;
  background-color: #1C3664;
  border: 1px solid #FFFFFF;
  border-radius: 12px;
  color: #FFA800;
  padding-left: 23px;
  padding-top: 20px;
}

.describe:focus {
  outline: none; 
  border-color: transparent; 
  box-shadow: none;
  border: 1px solid #FFFFFF;
}

.submit {
  width: 134.65px;
  height: 61.38px;
  border: 1px solid #FFA800;
  border-radius: 13.91px;
  background-color: #1C3664;
  color: #FFFFFF;
  font-size: 20.87px;
  font-family: Montserrat-Bold;
}

.submit:hover {
  background-color: #FFA800;
}

.block-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer-logo {
  text-align: center;
  margin-top: 20px;
}

.block-contact {
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  width: 80%;
  margin: 0px auto;
}

textarea {
  font-family: Montserrat-Regular;
}

.logo-footer{
  cursor: pointer;
}



.input-container {
  position: relative;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
}

input:focus + .placeholder,
input:not(:placeholder-shown) + .placeholder {
  transform: translateY(-20px);
  font-size: 12px;
  color: #FFA800;
}

.placeholder {
  position: absolute;
  left: 10px;
  top: 10px;
  transition: all 0.2s ease;
  pointer-events: none;
  font-size: 16px;
  color: #aaa;
}

@media (max-width: 767px) {
  .form {
    margin: 300px 200px;
  }
  .block-contact {
    border: none;
  }
  .contact {
    widows: 300px;
    margin: 30px 0px 0px 550px;
    font-size: 2.5rem;
  }
  .info-form {
    font-size: 2rem;
  }
}


